<div class="register-form">
  <h2>Inscription Patient</h2>

  <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
    <div>
      <label>Nom complet</label>
      <input type="text" formControlName="fullName" placeholder="Ex: Ahmed Benali" />
    </div>

    <div>
      <label>Email</label>
      <input type="email" formControlName="email" placeholder="Ex: exemple@gmail.com" />
    </div>

    <div>
      <label>Mot de passe</label>
      <input type="password" formControlName="password" placeholder="Mot de passe sécurisé" />
    </div>

    <div>
      <label>Téléphone</label>
      <input type="text" formControlName="phone" placeholder="Ex: 0600000000" />
    </div>

    <div>
      <label>CIN</label>
      <input type="text" formControlName="cin" placeholder="Ex: AB123456" />
    </div>

    <button type="submit" [disabled]="patientForm.invalid">S'inscrire</button>
  </form>

  <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
</div>
